// font-family
$rbLight:'Roboto-Light';
$rbMedium:'Roboto-Medium';
$normal:'NotoSansCJKkr-DemiLight';
$medium:'NotoSansCJKkr-Medium';
$ff:'NotoSansCJKkr-DemiLight';
$ff2:'Roboto-Light';
$fs:sans-serif;