<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Step by Step Webpack Configuration</title>
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.staticResources.css}}" />
</head>
<body>
    {{!-- 변수 확인 : https://lawrencewhiteside.com/article/webpack-beyond-the-basics/hooking-up-html-preprocessors-like-ejs-pug-handlebars --}}
    <div id="root"></div>
    <img src="./images/sample.png" alt="">
    <script src="{{htmlWebpackPlugin.options.staticResources.js}}"></script>
</body>
</html>